{% extends "base.html" %}

{% block content %}

<html>
    <head>
        <style>
            form {
                background-color: #eee;
                padding: 20px;
                margin: 0 auto;
                width: 540px;
                font: 16px sans-serif;
                border-radius: 10px;
            }

        </style>
    </head>
    <body>
      <form method="post">
        <label>
         Signup:<br> 
            Username:  
            <input type="text" name="username" minlength="3" maxlength="20" required/><br>
            Password:
            <input type="password" name="password" minlength="3" maxlength="20" required/><br>
            Verify Password:
            <input type="password" name="verify" minlength="3" maxlength="20" required/><br>
            Email (optional)  
            <input type="text" name="email (optional)" minlength="3" maxlength="20" pattern=""/><br>
        
            
        </label>
        <p class="error">{{password_error}}</p>
        <input type="submit"/>
    </form>
    </body>
</html>

{% endblock %}
